$doc-width = 1212px // 1180+32
$normal-padding = 16px // 下拉框被选中的颜色
$normal-size = 12px // 下拉框被选中的颜色
$dark-color = #1C2438 // 下拉框被选中的颜色
$light-color = #999 // 下拉框被选中的颜色
$title-color = #414859 // 下拉框被选中的颜色
$table-text-color = #495060 // 下拉框被选中的颜色
$link-text-color = #3399FF // 下拉框被选中的颜色
$btn-primary-color = #2d8cf0 // 下拉框被选中的颜色
$select-seleted-color = #e6f6ff // 下拉框被选中的颜色
$border-color = #e8eaec